# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Quarto
.quarto/
_site/
/.quarto/
*_files/
*.html
/_freeze/
*_book/
.ipynb_checkpoints

# Project specific
diary/
.instructions
.DS_Store
**/.ext/

# LaTeX
slides/tex/output/*
!slides/tex/output/*.pdf
# slides/tex/sample.aux
# slides/tex/sample.bbl
# slides/tex/sample.log
# slides/tex/sample.nav
# slides/tex/sample.pdf
# slides/tex/sample.snm
# slides/tex/sample.toc
*.aux
*.bbl
*.blg
*.log
*.nav
*.toc
*.snm